<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>

       
        {{ partial "carousel.html" . }}

        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        <br>
        <div class="container">
           <div class="row">

              <div class="col-md-12">
                <div class="heading text-center">
                  <h2>Our Mission</h2>
                </div>
                <p>Step Up for Laos is a charity registered in the State of Washington that helps kids in Laos who have been maimed by the massive amounts of unexploded ordnance (UXO) that were dropped by the U.S. in the 1960’s and 1970’s. 270 million bomblets were dropped and over 75 million still remain. In partnership with COPE, our goal is to raise money and awareness so that we can provide prosthetic legs to maimed victims. By providing these prosthetics, we are able to improve someone’s way of life through the gift of mobility. While our charity is currently focused on Laos, we hope to expand into other regions that suffer from unexploded ordnance such as Cambodia by the year 2020.</p>
              </div>

              <div class="col-md-2"></div>
              <div class="col-md-8">
                <br>
                <h4 class="text-center">“It has been estimated that around 50,000 people have been injured or killed as a result of UXO (unexploded ordnance) incidents between 1964 and 2008”</h4>
              </div>
              <div class="col-md-2"></div>
             
               
              <div class="col-md-12">
                <br>
                <div class="heading text-center">
                    <h2>Why Laos?</h2>
                  </div>
                <p>The effect of unexploded ordnance (UXOs) on Lao PDR has been and continues to be immense. UXOs are ‘explosive weapons that failed to detonate when they were fired, dropped, launched or projected, and still pose a risk of exploding’. In Lao PDR, there are a range of UXOs contaminating the countryside, including large bombs, rockets, grenades, artillery munitions, mortars, landmines and cluster munitions (Source: NRA UXO Sector Annual Report 2009).</p>
                <p>t has been estimated that around 50,000 people have been injured or killed as a result of UXO incidents between 1964 and 2008. Roughly 30,000 of these incidents occurred during the time of the Second Indochina War/Vietnam War (up until 1973). The other 20,000 occurred in the post-conflict era (from 1973 to 2008). It is estimated that more than 50% of victims in the post-conflict era are children and over 80% of victims are male (Source: NRA UXO Sector Annual Report 2009).</p>
                  <br>
              </div>

              <div class="col-md-4">
                  <div class="image" style="overflow:hidden">
                      <img class="img-responsive" src="img/shop_flower.png">
                  </div>
                  <br>
              </div>

              

              <div class="col-md-4">
                <br>
                <div class="heading text-center">
                  <h2>Shop for a cause</h2>
                </div>
                <p>You can alaso support Step Up For Laos by purchasing from our shop. All of our accessories are made from the aluminum of recycled unexploded ordnances and 100% of profits are used to provide prosthetics and rehabilitation for those in need.</p>
    
                <a href="" class="btn btn-template-main">Shop</a>
              </div>

              <div class="col-md-4">
                  <div class="image" style="overflow:hidden">
                      <img class="img-responsive" src="img/shop_pattern.png">
                  </div>
                  <br>
              </div>

             

    
              
              
              
             
              
              
           </div> 
        </div>

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
